.title {
  background-color: #080808;
  background-image:
    linear-gradient(#ffffff08 1px, transparent 1px),
    linear-gradient(90deg, #ffffff08 1px, transparent 1px);
  background-size: 40px 40px;
}
.title h1 {
  font-size:40px;
  font-family: "Consolas", "Courier New", monospace;
}
.title p {
  font-size:20px;
  font-family:serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #080808;
  border-bottom: 1px solid #ffffff20;
}

header h4 {
  margin: 0;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 20px;
  color:white;
}

header a {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 16px;
  text-decoration: none;
}
